body {
	margin: 0 auto;
	width: 1000px;
}
.banner {
    overflow: hidden;
    text-align: center;
    background-color: #E8E8E8;
	clear: both;
	font: 16px/24px Inconsolata, Arial, sans-serif;
	padding-bottom: 0px;
	padding-top: 0px;
	position: relative;
	width: 1000px;
}
.instructions {
	font: 13px Inconsolata, Arial, sans-serif;
	overflow: hidden;
	clear: both;
	position: relative;
	background-color: #E8E8E8;
	width: 1000px;
	padding-bottom: 5px;
	padding-top: 0px;
	text-align: center;
}
.textbox {
	text-align: left;
	margin-left: 30%;
}
#captcha-image {
    height: 500px;
	padding: 5px;
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#submit-btn {
	float: right;
}
.blue-button {
    background-color: #4D94FF;
	border: none;
	color: #FFFFFF;
	font: 18px Inconsolata, Arial;
}
.blue-button:hover {
	background-color: #003D99;
	border: none;
}
.blue-button:active {
	transform: translateY(4px);
  }

/* Survey Modal */
#modal {
	background:rgba(0,0,0,0.6);
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* enable scrolling if needed */
	display: none;
	text-align: center;
}
#modal-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#survey-thankyou {

	background-color: #4D94FF;
	border: none;
	color: #FFFFFF;
	font: 18px Inconsolata, Arial;
}
#footer{
    position: relative;
    margin-left: auto;
	margin-right: auto;
	top: -75px;
}